body {
  width: 100%;
  background: #EFF2F9 !important;
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: 1em; }

.h1 {
  font-weight: 800 !important; }

h1 {
  font-weight: 800 !important; }

.h2 {
  font-weight: 700 !important; }

h2 {
  font-weight: 700 !important; }

#intro {
  padding: 150px 50px 150px 50px;
  background-color: #1B2123;
  color: #FFFFFF; }
  #intro h5 {
    color: #009B91; }

.btn-outline-info {
  color: #009B91;
  background-color: transparent;
  border-color: #009B91;
  border-width: 2px; }
  .btn-outline-info :hover {
    color: #FFFFFF;
    background-color: #009B91;
    border-color: #009B91;
    border-width: 2px; }
  .btn-outline-info :focus {
    color: #FFFFFF;
    background-color: #009B91;
    border-color: #009B91;
    border-width: 2px; }

.row {
  justify-content: center; }

.card {
  margin: 3%;
  border-radius: 2px;
  padding: 16px;
  background-color: #3D81DB;
  color: #FFFFFF; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.card-title {
  color: #FFFFFF; }

.text-muted {
  color: #FFFFFF !important; }

.card:hover {
  background-color: #165AB5;
  box-shadow: 8px 12px 31px -10px #abafe7; }

#team {
  text-align: center;
  justify-content: center;
  align-items: center; }

.cardwork {
  border-radius: 2px;
  padding: 16px;
  background-color: #FFFFFF;
  color: #1B2123; }
