$white: #FFFFFF;
$darkgray: #1B2123;
$purple: #7487F2;
$green: #4CB383;
$gray: #747474;
$lightgray: #EFF2F9;
$salmon: #FB7878;
$darkpurple: #5260AD;
$orange: #FFAB04;
$mediumgray: #BBBBBB;
$mediumgreen: #64D6A5;
$darkgreen: #1A865F;
$mediumblue: #6FB5EB;
$darkorange: #C67C00;
$mediumpurple: #A9B7FF;
$lightorange: #FFDD4C;
$darksalmon: #FE4E4E;
$mediumsalmon: #FE9696;
$blue: #3D81DB;
$darkblue: #165AB5;
$lightsalmon: #FEA5A1;
$lightblue: #C0DEF5;
$lightgreen: #90F6C7;
$mediumorange: #FFDE04;
$green: #009B91;